/* General Settings */
body {
    background-color: #ffbba6;
    font-family: 'Rajdhani', sans-serif;
}


/* Custom initial image */
#running_games {
    display: block;
    margin: 0 auto;
    width: 25rem;
    padding: 1rem;
}

/* Years Links */
.year-link {
    background-color: #bad9db;
    border: 2px #797d9a solid;
    margin: 0 0.1rem;
    margin-bottom: 1.5rem;
    border-radius: 3px;
    padding-top: 0.75rem;
    padding-left: 1.15rem;
    padding-right: 1.15rem;
    cursor: pointer;
}

.year-text {
    color: #797d9a;
}

.year-link h1 {
    font-size: 4rem;
}

a {
    color: #797d9a;
    text-decoration: none;
}

a:hover {
    color: #797d9a;
}

.year-link:hover {
    background-color: #f7f3c7;
    border: 2px #797d9a solid;
}

/* .year-link {
    background-color: #f7f3c7;
    border: 2px #797d9a solid;
} */

.active {
    transform: scale(1.05, 1.05);
    background-color: #f8d1a7;
}

.coming-soon {
    pointer-events: none;
}

.coming-soon .year-link {
    background-color: #C5C7D3;
    opacity: 80%;
}

/* Cute animation */
.year-link {
    transition: all 0.3s;
}

.year-link:hover {
    transition: all 0.3s;
    transform: scale(1.15, 1.15);
}

/* gallery iframe */
.gallery {
    display: block;
    margin: 0 auto;
    height: 45rem;
    width: 100%;
}

.gallery-div {
    border: 2px #797d9a solid;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.gallery-inactive {
    display: none;
}