/* PAGE 01 */

.custom-div {
    background-color: #F4F4F4;
    border: 1px solid #E3E3E3;
    width: 100vw;
    height: 100vh;
    margin: 2px auto;
    padding: 10px;
    box-sizing: border-box;
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.big-year {
    font-size: 14em;
    margin-right: 20px;
    padding-right: 0.25em;
    color: #373737;
}

.text-portfolio,
.text-name {
    text-align: left;
    display: block;
    font-family: 'Raleway', sans-serif;
    color: #373737;
}

.text-portfolio {
    font-weight: 600;
    font-size: 5em;
    letter-spacing: 0.75em;
    margin-bottom: -0.35em;
}

.text-name {
    font-style: italic;
    margin-bottom: -0.35em;
    font-size: 4em;
}


/* PAGE 02 */

.one-third,
.two-thirds {
    /* Makes sure they take up the full height of the parent div */
    height: 100%;
    /* This will allow the divs to sit side by side */
    float: left;
    /* This ensures padding, borders, etc. are included in the width calculation */
    box-sizing: border-box;

    /* Flexbox properties to center content */
    display: flex;
    flex-direction: column;  /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center;     /* Center children horizontally */
    text-align: center;      /* Ensure text itself is centered */
}

.one-third {
    width: 33.33%;
}

.two-thirds {
    width: 66.66%;
}

.inner-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    /*border-radius: 10px;  /* Adjust as needed */
}

.text-aboutme {
    font-weight: 600;
    font-size: 5em;
    letter-spacing: 0.75em;
    margin-bottom: -0.35em;
    color: #373737;
}

.text-aboutme-desc {
    margin-top: 1.25em;
    font-size: 2.5em;
    letter-spacing: 0.05em;
    margin-bottom: -0.35em;
    color: #373737;
}

.container-aboutme {
    width: 90em;
}

.container-icons {
    margin-top: 5em;
    display: flex;
    justify-content: space-between;  
    width: 30em;               
}

.icon-link img {
    width: 5em;                     /* Adjust based on your icon size */
    height: 5em;                    /* Adjust based on your icon size */
    transition: opacity 0.3s;       /* Smooth opacity transition for hover effect */
}

.icon-link:hover img {
    opacity: 0.7;                    /* Change opacity on hover for a subtle effect */
}
