.html {
    background-color: #F4F4F4;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* PAGE 01 */

.custom-div {
    border: 1px solid #E3E3E3;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.big-year {
    font-size: 8vw; /* Adjust for Responsiveness */
    font-weight: 400;
    margin: 2vw;
    color: #373737;
}

#text-portfolio,
#text-name {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    color: #373737;
}

#text-portfolio {
    font-weight: 300;
    font-size: 5vh;
    letter-spacing: 2vh;
    margin-bottom: -0.35vh;
}

#text-name {
    font-style: italic;
    font-weight: 200;
    margin-bottom: -0.35vh;
    font-size: 4vh;
}


/* PAGE 02 */

.one-third,
.two-thirds {
    /* Makes sure they take up the full height of the parent div */
    height: 100%;
    /* This will allow the divs to sit side by side */
    float: left;
    /* This ensures padding, borders, etc. are included in the width calculation */
    box-sizing: border-box;

    /* Flexbox properties to center content */
    display: flex;
    flex-direction: column;  /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center;     /* Center children horizontally */
    text-align: center;      /* Ensure text itself is centered */
}

.one-third {
    width: 33.33%;
}

.two-thirds {
    width: 66.66%;
}

.inner-image {
    max-width: 95%;
    max-height: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

#text-aboutme {
    font-weight: 300;
    font-size: 5vh;
    letter-spacing: 0.75vh;
    margin-bottom: -0.35vh;
    color: #373737;
}

.text-aboutme-desc {
    margin-top: 1.25vh;
    font-size: 1.75vh;
    letter-spacing: 0.05vh;
    margin-bottom: -0.35vh;
    color: #373737;
}

.container-aboutme {
    width: 90%;
}

.container-icons {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;  
    width: 30vh;               
}

.icon-link img {
    width: 4vh;                     /* Adjust based on your icon size */
    height: 4vh;                    /* Adjust based on your icon size */
    transition: opacity 0.3s;       /* Smooth opacity transition for hover effect */
}

.icon-link img {
    transition: all 0.3s ease; /* Smooth transition for all changes */
}

.icon-link:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}

#hpa-icon img {
    border-radius: 50%;
}

/* PAGE 03 */

#div-page3 {
    /* Flexbox properties to center content */
    display: flex;
    flex-direction: column;  /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center;     /* Center children horizontally */
    text-align: center;      /* Ensure text itself is centered */
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;  /* Set container to 90% of the parent width */
    margin: 0 auto;  /* Center the container */
}

.container-myprojects-intro {
    width: 90%;  /* Set container to 90% of the parent width */
}

.project {
    flex: 1;  /* Allow the div to grow and occupy available space */
    min-width: calc(25% - 40px);  /* Minimum width set to 20% of container width minus margins */
    height: 20vh;
    margin: 20px;
    background-color: #E3E3E3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative; /* Added for overlay */
    border-radius: 10px;
}

.project {
    /* ...existing styles... */
    transition: all 0.3s ease; /* Smooth transition for all changes */
}

.project:hover {
    transform: scale(1.05);
    background-color: #FFCDB2;
    border-radius: 3px;
}

.project-content {
    text-align: center; /* Centers the text inside */
    width: 100%;
}

.project-icon {
    position: absolute;  /* Take it out of the flow of the document */
    top: -13px;          /* Push it down from the top */
    left: -11px;         /* Push it right from the left side */
    width: 3vh;          /* Set the width of the icon */
    height: 3vh;         /* Set the height of the icon */
}

.text-project-title, .text-project-desc, .text-project-role {
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

#text-myprojects {
    font-weight: 300;
    font-size: 5vh;
    letter-spacing: 0.75vh;
    color: #373737;
}

.text-project-title {
    font-size: 1.5vh;
    font-weight: bold;
    letter-spacing: 0.1vh;
}

.text-project-desc {
    font-size: 1.2vh;
    margin-top: 10px;
}

.text-project-role {
    font-size: 1vh;
    margin-top: 15px;
    font-style: italic;
}


#div-page4 {
    /* Flexbox properties to center content */
    display: flex;
    flex-direction: column;  /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center;     /* Center children horizontally */
    text-align: center;      /* Ensure text itself is centered */
}

/**********************************************************************/

/* Media Query for smaller devices */
@media (max-width: 768px) {

    .custom-div {
        border: 0px solid #E3E3E3;
    }

    .big-year {
        font-size: 14vw; /* Adjust for smaller screens */
        margin: 1vw;
    }

    #text-portfolio,
    #text-name,
    #text-aboutme,
    #text-myprojects {
        font-size: 2.75vh;
    }

    #text-portfolio {
        letter-spacing: 1.25vh;
    }

    .text-aboutme-desc {
        font-size: 1.75vh;
    }

    .container-aboutme {
        width: 90%; /* Changed from fixed to flexible */
    }

    .container-icons {
        flex-direction: row;
        align-items: center;
    }

    .icon-link img {
        width: 4vh; /* Smaller icon size */
        height: 4vh; /* Smaller icon size */
    }

    .one-third, .two-thirds {
        width: 100%; /* Stack horizontally */
    }

    .project {
        min-width: calc(50% - 20px);  /* Minimum width set to 20% of container width minus margins */
        height: 16vh;
        margin: 10px;
    }

    #div-page3 {
        margin-top: 30vh;
    }

    .text-project-title {
        font-size: 1.25vh;
        font-weight: bold;
        letter-spacing: 0.1vh;
    }
    
    .text-project-desc {
        font-size: 1vh;
        margin-top: 10px;
    }
    
    .text-project-role {
        font-size: 0.85vh;
        margin-top: 15px;
        font-style: italic;
    }

}