/* GENERAL */

.html {
    background-color: #F4F4F4;
    font-family: 'Raleway', sans-serif;
}

#years-container {
    margin-bottom: 3vw;
}

.year-button {
    margin: 5px;
    cursor: pointer;
}

.aspect-ratio-box {
    position: relative;
    overflow: visible;
}

.aspect-ratio-box>img {
    width: 100%;
    border-radius: 5px;
    transition-duration: 0.5s;
}


/* TEXT SETTINGS */
button {
    font-size: 1.25vw !important;
}


/* ANIMATION SETTINGS */

.aspect-ratio-box {
    position: relative;
    transform-style: preserve-3d;
    z-index: 0;
}

.aspect-ratio-box>img {
    backface-visibility: hidden;
    transition: transform 1s;
    z-index: 1;
}

.aspect-ratio-box>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 1s;
    z-index: 1;
}

.aspect-ratio-box>.image-label {
    background: linear-gradient(45deg, #212529, #A4ADB6);
    color: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transform: rotateY(180deg);
}

.aspect-ratio-box:hover>img {
    transform: rotateY(180deg);
    z-index: 1;
}

.aspect-ratio-box:hover>.image-label {
    transform: rotateY(0deg);
    z-index: 2;
}


/* OVERRIDE BOOTSTRAP SETTINGS */

.btn-group {
    display: flex;
    height: fit-content;
}

.btn:hover {
    --bs-btn-hover-border-color: none;
}

.container {
    max-width: 90%;
}

.me-2 {
    margin-right: 0rem !important;
    border: 1px #F4F4F4 solid;
}


/* INFO BEHIND IMAGES */

.aspect-ratio-box {
    position: relative;
}

.image-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aspect-ratio-box:hover .image-label {
    opacity: 1;
}

.image-name {
    text-align: center;
    font-weight: bold;
    font-size: 1.35vw !important;
    padding: 1vw;
}

.image-time {
    text-align: center;
    font-size: 1.25vw !important;
}