.html {
    background-color: #F4F4F4;
    font-family: 'Raleway', sans-serif;
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}